@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}
@layer utilities {
  .banner-active {
    opacity: 1;
    background-color: red;
    border: 2px solid #fff;
    box-sizing: content-box;
  }

  .banner-active-1 {
    opacity: 1;
    background-color: red;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
  }

  .color-active {
    border: 2px solid #000;
    padding: 2px;
  }

  .size-active {
    background-color: #db4444;
    border-color: transparent;
    color: #fafafa;
  }

  /* > 1170px  */
  .responsive_1 {
    max-width: 73.125rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .active {
    border-color: rgba(0, 0, 0, 0.5);
  }
}
* {
  scroll-behavior: smooth;
  font-family: "Poppins";
}
.selected {
  color: #db4444;
  opacity: 1;
}
